{% extends 'base.html' %}
{%block title%}Mobiles{%endblock%}
{% block content %}
<h1>Mobiles</h1>
<div class="row">
    {%for product in products%}
    <div class="col-md-3">
        <div class="card">
            <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 260px; height: 250px;">
            <div class="card-body">
                <h5>{{product.category}}</h5>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text text-success">{{product.price}}$</p>
                <p class="card-text"> {{product.description}} </p>
                <a href="{%url 'add_to_cart' product.id%}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {%endfor%}
    
</div>
{% endblock %}
